.fluid {
  width: 20vh;
  height: 20vh;
  background: rgb(255,250,170);
  background: linear-gradient(18deg, rgba(255,250,170,1) 8%, rgba(89,254,255,1) 75%);
  animation: fluidmove 15s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

@keyframes fluidmove {
  0%, 100%{border-radius: 58% 42% 38% 62% / 47% 44% 56% 53% }
  20%{border-radius: 14% 86% 22% 78% / 68% 19% 81% 32% }
  40%{border-radius: 28% 72% 67% 33% / 42% 58% 42% 58% }
  60%{border-radius: 77% 23% 79% 21% / 74% 64% 36% 26% }
  80%{border-radius: 69% 31% 26% 74% / 57% 49% 51% 43% }
}